@tailwind base;
@tailwind components;
@tailwind utilities;


#taskbox{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    margin-top: 4px;
    border: 1px solid rgb(145, 145, 145);
    border-radius: 0.5rem;
    overflow:auto;
    line-height: normal;
    opacity: 0;
    transform: translateY(-100%);
    transition: all 500ms ease;
    width: 100%;
}

#taskbox::-webkit-scrollbar{
    height: 0.5rem;
    background-color: black;
    
}
#taskbox::-webkit-scrollbar-thumb{
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
}

#list::-webkit-scrollbar{
    width:0.5rem;
    background-color: black;
    
}
#list::-webkit-scrollbar-thumb{
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
}

li:hover{
    background-color: rgb(26, 26, 26);
}
#deleteBtn{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    padding: 0.3rem;
}
#edit{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 0.5rem;
    padding: 0.3rem;
}
#deleteBtn:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    scale: 95%;
    transition: all 200ms ease-in-out;
}
#edit:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    scale: 95%;
    transition: all 200ms ease-in-out;
}
#deleteBtn:active{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    scale: 95%;
    transition: all 200ms ease-in-out;
}
#edit:active{
    background-color: rgb(255, 0, 0);
    color: white;
    scale: 95%;
    transition: all 200ms ease-in-out;
}

#taskbox input{
    color: white;
    background-color: transparent;
    outline: none;
    border: none;
}

